name: Lab 5 CI/CD

on:
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install ruff pytest
      - run: ruff check --config=ruff.toml ./src/
      - run: pytest
EOF
